$curve: cubic-bezier(.19,1,.22,1);

$black: #000000;
$white: #FFFFFF;
$grey: #eeeeee;
$dark-grey: #181A1E;
$red: #ff4d4d;

$font-title: 'Moderat', sans-serif;
$font-normal: 'DM Sans', sans-serif;

$vh100: calc(var(--vh, 1vh) * 100);